{% extends "./base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-4" align="center">
            <h2 class = "mb-5"> Create a user account </h2>

            <form action = "{% url 'eventFinderApp:adduser' %}" method = "post">
                {% csrf_token %}
                {{ eventform|crispy }}
                <input type = "submit" value = "Submit">
            </form>

            {% endblock %}
        </div>
    </div>
</div>