{% extends "base.html" %}

{% block content %}

<h2>{{ event.title }}</h2>

<p><strong>Location: </strong>{{ event.location }}</p>
<p><strong>Venue: </strong>{{ event.venue }}</p>
<p><strong>Hosted by: </strong> {{ event.host.username }}</p>
<p><strong>Category: </strong> {% for category in event.categories.all %}
    {{ category.name }}
    {% endfor %}</p>
<p><strong>Starts at: </strong> {{ event.start_time }}</p>
<p><strong>Ends at: </strong> {{ event.end_time }}</p>


{% if user.is_authenticated %}
    {% if user.pk == event.host.pk %}
        <a href="{% url 'eventFinderApp:editevent' event.id %}"><button id="editevent">+ Edit details</button></a>
    {% else %}
        <p>Contact {{event.host.username}} if you would like to change event details</p>
        {% endif %}
{% else %}
    <p><a href="{% url 'login' %}">Login to edit this event</a></p>
{% endif %}

{% endblock %}