{% extends "base.html" %}

{% block content %}

<h2>{{ event.title }}</h2>

<p><strong>Location: </strong>{{ event.location }}</p>
<p><strong>Venue: </strong>{{ event.venue }}</p>
<p><strong>Hosted by: </strong> {{ event.host.username }}</p>
<p><strong>Category: </strong> {% for category in event.categories.all %}
    {{ category.name }}
    {% endfor %}</p>
<p><strong>Starts at: </strong> {{ event.start_time }}</p>
<p><strong>Ends at: </strong> {{ event.end_time }}</p>

<a href="{% url 'eventFinderApp:editevent' event.id %}"><button id="editevent">+ Edit details</button></a> 

{% endblock %}